<table mat-table *ngIf="dataSource"  [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="closeApproachDate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.closeApproachDate}} </td>
  </ng-container>

  <ng-container matColumnDef="estimatedDiameterMax">
    <th mat-header-cell *matHeaderCellDef> Distance </th>
    <td mat-cell *matCellDef="let element"> {{element.estimatedDiameterMax}} </td>
  </ng-container>

  <ng-container matColumnDef="estimatedDiameterMin">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.estimatedDiameterMin}} </td>
  </ng-container>

  <ng-container matColumnDef="missDistance">
    <th mat-header-cell *matHeaderCellDef> potentiallyHazardousAst </th>
    <td mat-cell *matCellDef="let element"> {{element.missDistance}} </td>
  </ng-container>

  <ng-container matColumnDef="nameAsteroid">
    <th mat-header-cell *matHeaderCellDef> potentiallyHazardousAst </th>
    <td mat-cell *matCellDef="let element"> {{element.nameAsteroid}} </td>
  </ng-container>

  <ng-container matColumnDef="orbitingBody">
    <th mat-header-cell *matHeaderCellDef> potentiallyHazardousAst </th>
    <td mat-cell *matCellDef="let element"> {{element.orbitingBody}} </td>
  </ng-container>

  <ng-container matColumnDef="potentiallyHazardousAst">
    <th mat-header-cell *matHeaderCellDef> potentiallyHazardousAst </th>
    <td mat-cell *matCellDef="let element"> {{element.potentiallyHazardousAst}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

 
</table>