.container {
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}


table {
  width: 90%;
  color: wheat;
  margin-top: 60px;
  box-sizing: border-box;
  border: 1px solid rgba(250 ,250 ,250 ,0.2);
  margin-bottom: 60px;


  

  th, td {
    text-align: center;
    border: 1px solid rgba(250 ,250 ,250 ,0.2);


  }

  .asteroidRow {
    cursor: pointer;
    &:hover {
      background-color: rgba(250 ,250 ,250 ,0.2);
    }
  }
  
}

.red {
  color: red;
}

