<table>
  <tr>
    <th>Name</th>
    <th>Close approach date</th>
    <th>Miss distance (Lunar)</th>
    <th>Max estimated diameter</th>
    <th>Min estimated diameter</th>
    <th>Orbiting body</th>
    <th>Potentially hazardous</th>
  </tr>
  <tr *ngFor="let asteroid of asteroids">
    <td>{{ asteroid.nameAsteroid }}</td>
    <td>{{ asteroid.closeApproachDate }}</td>
    <td>{{ asteroid.missDistance }}</td>
    <td>{{ asteroid.estimatedDiameterMax }}</td>
    <td>{{ asteroid.estimatedDiameterMin }}</td>
    <td>{{ asteroid.orbitingBody }}</td>
    <td>{{ asteroid.potentiallyHazardousAst }}</td>
  </tr>
</table>